:root {
 --cor-verde-principal: #7DB6A7;
 --cor-verde-claro: #B5FED9;
 --cor-verde-escuro: #476571;
 --cor-dourado-principal: #CEA02B;
 --cor-dourado-claro: #FFE672;
 --cor-dourado-escuro: #A26B0E;
 --cor-bege: #FAF7EC;
 --cor-preto: #373108;
 --cor-borda: #C8B186;
}

@font-face {
  font-family: "Energy";
  src: url("assests/fonts/energy_3/Energy.ttf");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-weight: normal;
  font-family: "Bree Serif";
  font-size: 25px;
  color: var(--cor-preto);
}


html, body {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background-color: var(--cor-bege);
  display: flex;
  flex-direction: row;
  font-family: "Fredoka";
}

.Empty_Box {
  background-color: var(--cor-bege);
  border: 2px solid var(--cor-borda);
  color: var(--cor-preto);
  border-radius: 20px;
  font-family: 'Fredoka';
}

.Green_Box_Full {
    background-color: var(--cor-verde-principal);
    border-radius: 30px;
    color: var(--cor-preto);
    font-family: "Fredoka";
}

.Gold_Pill_Full {
    background: var(--cor-bege);
    border-radius: 999px;
    color: var(--cor-preto);
    font-family: "Fredoka";
    font-weight: 100;
}



.Green_Input {
  border: 3px solid transparent;
  border-radius: 999px;
  box-sizing: border-box;
  font-family: 'Fredoka';
  padding: 0 20px;
  color: var(--cor-preto);
  background:
    linear-gradient(var(--cor-bege), var(--cor-bege)) padding-box,
    linear-gradient(0deg, var(--cor-verde-escuro),var(--cor-verde-principal)) border-box;
}

.Green_Input::placeholder {
  color: var(--cor-preto);
  opacity: 0.6;
}

.Gold_Input {
  border: 3px solid transparent;
  border-radius: 999px;
  box-sizing: border-box;
  font-family: 'Fredoka';
  padding: 0 20px;
  color: var(--cor-preto);
  background:
    linear-gradient(var(--cor-bege), var(--cor-bege)) padding-box,
    linear-gradient(0deg, var(--cor-dourado-escuro), var(--cor-dourado-principal)) border-box;
}

.Gold_Input::placeholder {
  color: var(--cor-preto);
  opacity: 0.6;
}


.Green_Button_Full {
  transition: all 0.2s ease-in-out;
  font-weight: normal;
  padding: 2%;
  font-family: "Bree Serif";
  border-radius: 999px;
  border: none;
  background:linear-gradient(0deg, var(--cor-verde-escuro),var(--cor-verde-principal));
  color: var(--cor-bege);
}

.Green_Button_Full:hover {
  transform: translateY(-2px);
}

.Green_Button_Empty {
  transition: all 0.2s ease-in-out;
  padding: 2%;
  font-family: "Bree Serif";
  border: 3px solid transparent;
  border-radius: 999px;
  color: var(--cor-verde-escuro);
  opacity: 1;
   background:
    linear-gradient(var(--cor-bege), var(--cor-bege)) padding-box,
    linear-gradient(0deg, var(--cor-verde-escuro),var(--cor-verde-principal)) border-box;
}

.Green_Button_Empty:hover {
  transform: translateY(-2px);
}

.Green_Button_Empty:active {
  transform: translateY(0px);
  border-radius: 999px;
  border: none;
  background:linear-gradient(0deg, var(--cor-verde-escuro),var(--cor-verde-principal));
  color: var(--cor-bege);
}

.Green_Button_Empty::after {
   border: 3px solid transparent;
  border-radius: 999px;
  color: var(--cor-verde-escuro);
  opacity: 1;
   background:
    linear-gradient(var(--cor-bege), var(--cor-bege)) padding-box,
    linear-gradient(0deg, var(--cor-verde-escuro),var(--cor-verde-principal)) border-box;
}

.Gold_Button_Full {
  transition: all 0.2s ease-in-out;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Bree Serif";
  border-radius: 999px;
  border: none;
  background:linear-gradient(0deg, var(--cor-dourado-escuro), var(--cor-dourado-principal));
  color: var(--cor-bege);
}

.Gold_Button_Empty:hover {
  transform: translateY(-2px);
}

.Gold_Button_Empty {
  transition: all 0.2s ease-in-out;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Bree Serif";
  border: 3px solid transparent;
  border-radius: 999px;
  color: var(--cor-dourado-escuro);
  opacity: 1;
   background:
    linear-gradient(var(--cor-bege), var(--cor-bege)) padding-box,
    linear-gradient(0deg, var(--cor-dourado-escuro), var(--cor-dourado-principal)) border-box;
}

.Gold_Button_Empty:hover {
  transform: translateY(-2px);
}
